<div class="col-md-12  text-center">
    <form ng-submit="savePerson(personInfo)" class="centered">

        <div class="col-md-4">
            <input type="text" placeholder="first name" class="form-control" ng-model="personInfo.firstName">
        </div>
        <div class="col-md-4">
            <input type="text" placeholder="last name" class="form-control" ng-model="personInfo.lastName">
        </div>

        <div class="col-md-4">
            <input type="date" placeholder="date of birth" class="form-control" ng-model="personInfo.dateOfBirth">
        </div>

        <div class="text-center">
            <button class="btn btn-success" type="submit">
                Save person
            </button>
        </div>
    </form>
</div>